site_name: microsim
site_url: https://tlambert03.github.io/microsim
site_description: Pure python extensions of the C++ micro-manager core
# strict: true

repo_name: tlambert03/microsim
repo_url: https://github.com/tlambert03/microsim
edit_uri: edit/main/docs/

watch:
  - src/microsim

theme:
  name: material
  icon:
    logo: fontawesome/solid/microscope
    repo: fontawesome/brands/github
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - navigation.tabs
    - navigation.footer # next/previous links in footer

markdown_extensions:
  - tables
  - pymdownx.snippets # lets you include code snippets from other files
  - toc:
      permalink: "#"
  - admonition
  - pymdownx.highlight
  - pymdownx.extra
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true

# mkdocs.yml
plugins:
  - mkdocstrings:
      handlers:
        python:
          import:
            - https://docs.python.org/3/objects.inv
            - https://numpy.org/doc/stable/objects.inv
            - https://pymmcore-plus.github.io/useq-schema/objects.inv
          options:
            extensions:
              - griffe_fieldz
            show_root_heading: true # default is false
            heading_level: 2 # default is 1
            docstring_style: "numpy"
            show_source: false # default is true

extra_css:
  - stylesheets/extra.css
