name: CI

on:
  push:
    branches: [main]
    tags: [v*]
  pull_request:
  workflow_dispatch:
  schedule:
    # run every week (for --pre release tests)
    - cron: "0 0 * * 0"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-manifest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: pipx run check-manifest

  test:
    name: Test ${{ matrix.os }} py${{ matrix.python-version }} ${{ matrix.min }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.10", "3.11", "3.12"]
        min: [""]
        include:
          - os: ubuntu-latest
            python-version: "3.12"
            min: "minimal"

    env:
      UV_PYTHON: ${{ matrix.python-version }}
      UV_NO_SYNC: 1
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - if: ${{ matrix.min == 'minimal' }}
        run: uv sync --no-dev --group test
      - if: ${{ matrix.min != 'minimal' }}
        run: uv sync --no-dev --group test --all-extras

      - run: uv run coverage run -p -m pytest --color=yes -v

      - uses: actions/upload-artifact@v6
        with:
          name: covreport-${{ matrix.os }}-py${{ matrix.python-version }}-${{ matrix.min }}
          path: ./.coverage*
          include-hidden-files: true

  upload_coverage:
    if: always()
    needs: [test]
    uses: pyapp-kit/workflows/.github/workflows/upload-coverage.yml@v2
    secrets:
      codecov_token: ${{ secrets.CODECOV_TOKEN }}

  build-and-inspect-package:
    name: Build & inspect package.
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hynek/build-and-inspect-python-package@v2

  upload-to-pypi:
    name: Upload package to PyPI
    needs: build-and-inspect-package
    runs-on: ubuntu-latest
    if: success() && startsWith(github.ref, 'refs/tags/') && github.event_name != 'schedule'
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Download built artifact to dist/
        uses: actions/download-artifact@v7
        with:
          name: Packages
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
      - uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: "./dist/*"
